<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Vue Product App</title>

    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="cart">
            <p>Cart ({{ cart.length }})</p>
        </div>
        <product :premium="premium" @add-to-cart="updateCart"></product>

        <div class="reviews">
            <h2>Reviews</h2>
            <p v-if="!reviewList.length">There are no reviews yet.</p>
            <ul>
              <li v-for="review in reviewList">
                <p>Name: {{ review.name }}</p>
                <p>Rating: {{ review.rating }}</p>
                <p>Review: {{ review.review }}</p>
              </li>
            </ul>
        </div>

        <product-review @review-submitted="addReview"></product-review>    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>
